In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import numpy as np
 
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[3, 3] = np.nan
df.iloc[0, 2] = np.nan

SyntaxError: invalid character in identifier (<ipython-input-3-ef12a05a9425>, line 1)

In [4]:
np.random.seed(24)

In [5]:
df = pd.DataFrame({'A':np.linspace(1,10,10)})

In [7]:
df = pd.concat([df,pd.DataFrame(np.random.randn(10,4),columns=list('ABCD'))],axis=1)

In [14]:
df

      A         A         B         C         D
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

In [10]:
df.iloc[3,3] = np.nan

In [15]:
df.iloc[0,2] = np.nan

In [16]:
df.style

ValueError: style is not supported for non-unique indices.